* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.welcome {
    display: block;
    margin-top: 50px;
}

.question-box {
    width: 40%;
    display: none;
    text-align: left;
    margin: 0 auto;
}

.end-quiz {
    display: none;
}

.high-scores {
    display: none;
    width: 40%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.welcome p {
    width: 40%;
    margin: 10px auto;
}

ol, ul {
    margin: 0 auto;
}

li {
    text-align: left;
    width: fit-content;
    padding: 5px;
}

ol li:hover {
    background-color: #4287f5;
    border-radius: 5px;
}

#feedback {
    color: red;
    font-weight: bold;
}


